Source: ros-testing-rcutils
Section: misc
Priority: optional
Maintainer: Karsten Knese <karsten@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), python3-empy, ros-testing-ament-cmake-gmock, ros-testing-ament-cmake-gtest, ros-testing-ament-cmake-pytest, ros-testing-ament-cmake-ros, ros-testing-ament-lint-auto, ros-testing-ament-lint-common, ros-testing-launch, ros-testing-launch-testing, ros-testing-launch-testing-ament-cmake, ros-testing-osrf-testing-tools-cpp, ros-testing-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-testing-rcutils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-testing-ros-workspace
Description: Package containing various utility types and functions for C
